.card2 {
	background-color: #F7FCFC;
     border: 0px solid #e0e6ed;
     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 4px 14px 0 rgba(0,0,0,0.12);
     margin-bottom: 5px;
     margin-top: 20px;
     padding: 10px 20px;
}